section.second 
  .container 
    .second__inner
      .second__inner-left
        p Lorem Ipsum 
        h2 Lorem Ipsum
      .second__inner-right
        button.next.left-first
        button.prev.right-first
    .swiper.slider_project
      .swiper-wrapper
        .swiper-slide
          .swiper-slide__img
            .swiper-slide__price 1200 
              span руб
            picture
              source(srcset="assets/img/project1_mb.webp 1x, assets/img/project1_mb@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/project1_mb.jpg 1x, assets/img/project1_mb@2x.jpg 2x" media="(max-width: 767px)")
              source(srcset="assets/img/project1_tb.webp 1x, assets/img/project1_tb@2x.webp 2x" type="image/webp" media="(max-width: 1439px)")
              source(srcset="assets/img/project1_tb.jpg 1x, assets/img/project1_tb@2x.jpg 2x" media="(max-width: 1439px)")
              source(srcset="assets/img/project1_dt.webp 1x, assets/img/project1_dt@2x.webp 2x" type="image/webp")
              img(src="assets/img/project1_dt.jpg" srcset="assets/img/project1_dt@2x.jpg 2x" title="" alt="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .swiper-slide__price 1200 
              span руб
            picture
              source(srcset="assets/img/project2_mb.webp 1x, assets/img/project2_mb@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/project2_mb.jpg 1x, assets/img/project2_mb@2x.jpg 2x" media="(max-width: 767px)")
              source(srcset="assets/img/project2_tb.webp 1x, assets/img/project2_tb@2x.webp 2x" type="image/webp" media="(max-width: 1439px)")
              source(srcset="assets/img/project2_tb.jpg 1x, assets/img/project2_tb@2x.jpg 2x" media="(max-width: 1439px)")
              source(srcset="assets/img/project2_dt.webp 1x, assets/img/project2_dt@2x.webp 2x" type="image/webp")
              img(src="assets/img/project2_dt.jpg" srcset="assets/img/project2_dt@2x.jpg 2x" title="" alt="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .swiper-slide__price 1200 
              span руб
            picture
              source(srcset="assets/img/project3_mb.webp 1x, assets/img/project3_mb@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/project3_mb.jpg 1x, assets/img/project3_mb@2x.jpg 2x" media="(max-width: 767px)")
              source(srcset="assets/img/project3_tb.webp 1x, assets/img/project3_tb@2x.webp 2x" type="image/webp" media="(max-width: 1439px)")
              source(srcset="assets/img/project3_tb.jpg 1x, assets/img/project3_tb@2x.jpg 2x" media="(max-width: 1439px)")
              source(srcset="assets/img/project3_dt.webp 1x, assets/img/project3_dt@2x.webp 2x" type="image/webp")
              img(src="assets/img/project3_dt.jpg" srcset="assets/img/project3_dt@2x.jpg 2x" title="" alt="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .swiper-slide__price 1200 
              span руб
            picture
              source(srcset="assets/img/project4_mb.webp 1x, assets/img/project4_mb@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/project4_mb.jpg 1x, assets/img/project4_mb@2x.jpg 2x" media="(max-width: 767px)")
              source(srcset="assets/img/project4_tb.webp 1x, assets/img/project4_tb@2x.webp 2x" type="image/webp" media="(max-width: 1439px)")
              source(srcset="assets/img/project4_tb.jpg 1x, assets/img/project4_tb@2x.jpg 2x" media="(max-width: 1439px)")
              source(srcset="assets/img/project4_dt.webp 1x, assets/img/project4_dt@2x.webp 2x" type="image/webp")
              img(src="assets/img/project4_dt.jpg" srcset="assets/img/project4_dt@2x.jpg 2x" title="" alt="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .swiper-slide__price 1200 
              span руб
            picture
              source(srcset="assets/img/project5_mb.webp 1x, assets/img/project5_mb@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/project5_mb.jpg 1x, assets/img/project5_mb@2x.jpg 2x" media="(max-width: 767px)")
              source(srcset="assets/img/project5_tb.webp 1x, assets/img/project5_tb@2x.webp 2x" type="image/webp" media="(max-width: 1439px)")
              source(srcset="assets/img/project5_tb.jpg 1x, assets/img/project5_tb@2x.jpg 2x" media="(max-width: 1439px)")
              source(srcset="assets/img/project5_dt.webp 1x, assets/img/project5_dt@2x.webp 2x" type="image/webp")
              img(src="assets/img/project5_dt.jpg" srcset="assets/img/project5_dt@2x.jpg 2x" title="" alt="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .swiper-slide__price 1200 
              span руб
            picture
              source(srcset="assets/img/project1_mb.webp 1x, assets/img/project1_mb@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/project1_mb.jpg 1x, assets/img/project1_mb@2x.jpg 2x" media="(max-width: 767px)")
              source(srcset="assets/img/project1_tb.webp 1x, assets/img/project1_tb@2x.webp 2x" type="image/webp" media="(max-width: 1439px)")
              source(srcset="assets/img/project1_tb.jpg 1x, assets/img/project1_tb@2x.jpg 2x" media="(max-width: 1439px)")
              source(srcset="assets/img/project1_dt.webp 1x, assets/img/project1_dt@2x.webp 2x" type="image/webp")
              img(src="assets/img/project1_dt.jpg" srcset="assets/img/project1_dt@2x.jpg 2x" title="" alt="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .swiper-slide__price 1200 
              span руб
            picture
              source(srcset="assets/img/project2_mb.webp 1x, assets/img/project2_mb@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/project2_mb.jpg 1x, assets/img/project2_mb@2x.jpg 2x" media="(max-width: 767px)")
              source(srcset="assets/img/project2_tb.webp 1x, assets/img/project2_tb@2x.webp 2x" type="image/webp" media="(max-width: 1439px)")
              source(srcset="assets/img/project2_tb.jpg 1x, assets/img/project2_tb@2x.jpg 2x" media="(max-width: 1439px)")
              source(srcset="assets/img/project2_dt.webp 1x, assets/img/project2_dt@2x.webp 2x" type="image/webp")
              img(src="assets/img/project2_dt.jpg" srcset="assets/img/project2_dt@2x.jpg 2x" title="" alt="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .swiper-slide__price 1200 
              span руб
            picture
              source(srcset="assets/img/project3_mb.webp 1x, assets/img/project3_mb@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/project3_mb.jpg 1x, assets/img/project3_mb@2x.jpg 2x" media="(max-width: 767px)")
              source(srcset="assets/img/project3_tb.webp 1x, assets/img/project3_tb@2x.webp 2x" type="image/webp" media="(max-width: 1439px)")
              source(srcset="assets/img/project3_tb.jpg 1x, assets/img/project3_tb@2x.jpg 2x" media="(max-width: 1439px)")
              source(srcset="assets/img/project3_dt.webp 1x, assets/img/project3_dt@2x.webp 2x" type="image/webp")
              img(src="assets/img/project3_dt.jpg" srcset="assets/img/project3_dt@2x.jpg 2x" title="" alt="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .swiper-slide__price 1200 
              span руб
            picture
              source(srcset="assets/img/project4_mb.webp 1x, assets/img/project4_mb@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/project4_mb.jpg 1x, assets/img/project4_mb@2x.jpg 2x" media="(max-width: 767px)")
              source(srcset="assets/img/project4_tb.webp 1x, assets/img/project4_tb@2x.webp 2x" type="image/webp" media="(max-width: 1439px)")
              source(srcset="assets/img/project4_tb.jpg 1x, assets/img/project4_tb@2x.jpg 2x" media="(max-width: 1439px)")
              source(srcset="assets/img/project4_dt.webp 1x, assets/img/project4_dt@2x.webp 2x" type="image/webp")
              img(src="assets/img/project4_dt.jpg" srcset="assets/img/project4_dt@2x.jpg 2x" title="" alt="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .swiper-slide__price 1200 
              span руб
            picture
              source(srcset="assets/img/project5_mb.webp 1x, assets/img/project5_mb@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/project5_mb.jpg 1x, assets/img/project5_mb@2x.jpg 2x" media="(max-width: 767px)")
              source(srcset="assets/img/project5_tb.webp 1x, assets/img/project5_tb@2x.webp 2x" type="image/webp" media="(max-width: 1439px)")
              source(srcset="assets/img/project5_tb.jpg 1x, assets/img/project5_tb@2x.jpg 2x" media="(max-width: 1439px)")
              source(srcset="assets/img/project5_dt.webp 1x, assets/img/project5_dt@2x.webp 2x" type="image/webp")
              img(src="assets/img/project5_dt.jpg" srcset="assets/img/project5_dt@2x.jpg 2x" title="" alt="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
  .second__bottom
    button.btn Скачать прайс