section.second 
  .container 
    .second__inner
      .second__inner-left
        p Lorem Ipsum 
        h2 Lorem Ipsum
      .second__inner-right
        button.next.left-first
          .arrow-left
        button.prev.right-first
          .arrow-right
    .swiper.slider_1
      .swiper-wrapper
        .swiper-slide
          .swiper-slide__img
            .price 1200 
              span руб
            picture
              source(srcset="assets/img/img1_dt_1x.webp 1x, assets/img/img1_dt_@2x.webp 2x" type="image/webp" media="(min-width: 1440px)")
              source(srcset="assets/img/img1_tb_1x.webp 1x, assets/img/img1_tb_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
              source(srcset="assets/img/img1_mb_1x.webp 1x, assets/img/img1_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/img1_dt_1x.jpg 1x, assets/img/img1_dt_1x@2x.jpg 2x" media="(min-width: 1440px)")
              source(srcset="assets/img/img1_tb_1x.jpg 1x, assets/img/img1_tb_1x@2x.jpg 2x" media="(min-width: 768px)")
              source(srcset="assets/img/img1_mb_1x.jpg 1x, assets/img/img1_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
              img(src="assets/img/img1_dt_1x.jpg 1x, assets/img/img1_dt_@2x.jpg 2x" width="326" height="281" alt="" title="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .price 1200 
              span руб
            picture
              source(srcset="assets/img/img2_dt_1x.webp 1x, assets/img/img2_dt_@2x.webp 2x" type="image/webp" media="(min-width: 1440px)")
              source(srcset="assets/img/img2_tb_1x.webp 1x, assets/img/img2_tb_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
              source(srcset="assets/img/img2_mb_1x.webp 1x, assets/img/img2_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/img2_dt_1x.jpg 1x, assets/img/img2_dt_1x@2x.jpg 2x" media="(min-width: 1440px)")
              source(srcset="assets/img/img2_tb_1x.jpg 1x, assets/img/img2_tb_1x@2x.jpg 2x" media="(min-width: 768px)")
              source(srcset="assets/img/img2_mb_1x.jpg 1x, assets/img/img2_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
              img(src="assets/img/img2_dt_1x.jpg 1x, assets/img/img2_dt_@2x.jpg 2x" width="326" height="281" alt="" title="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .price 1200 
              span руб
            picture
              source(srcset="assets/img/img3_dt_1x.webp 1x, assets/img/img3_dt_@2x.webp 2x" type="image/webp" media="(min-width: 1440px)")
              source(srcset="assets/img/img3_tb_1x.webp 1x, assets/img/img3_tb_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
              source(srcset="assets/img/img3_mb_1x.webp 1x, assets/img/img3_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/img3_dt_1x.jpg 1x, assets/img/img3_dt_1x@2x.jpg 2x" media="(min-width: 1440px)")
              source(srcset="assets/img/img3_tb_1x.jpg 1x, assets/img/img3_tb_1x@2x.jpg 2x" media="(min-width: 768px)")
              source(srcset="assets/img/img3_mb_1x.jpg 1x, assets/img/img3_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
              img(src="assets/img/img3_dt_1x.jpg 1x, assets/img/img3_dt_@2x.jpg 2x" width="326" height="281" alt="" title="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .price 1200 
              span руб
            picture
              source(srcset="assets/img/img4_dt_1x.webp 1x, assets/img/img4_dt_@2x.webp 2x" type="image/webp" media="(min-width: 1440px)")
              source(srcset="assets/img/img4_tb_1x.webp 1x, assets/img/img4_tb_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
              source(srcset="assets/img/img4_mb_1x.webp 1x, assets/img/img4_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/img4_dt_1x.jpg 1x, assets/img/img4_dt_1x@2x.jpg 2x" media="(min-width: 1440px)")
              source(srcset="assets/img/img4_tb_1x.jpg 1x, assets/img/img4_tb_1x@2x.jpg 2x" media="(min-width: 768px)")
              source(srcset="assets/img/img4_mb_1x.jpg 1x, assets/img/img4_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
              img(src="assets/img/img4_dt_1x.jpg 1x, assets/img/img4_dt_@2x.jpg 2x" width="326" height="281" alt="" title="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .price 1200 
              span руб
            picture
              source(srcset="assets/img/img5_dt_1x.webp 1x, assets/img/img5_dt_@2x.webp 2x" type="image/webp" media="(min-width: 1440px)")
              source(srcset="assets/img/img5_tb_1x.webp 1x, assets/img/img5_tb_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
              source(srcset="assets/img/img5_mb_1x.webp 1x, assets/img/img5_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/img5_dt_1x.jpg 1x, assets/img/img5_dt_1x@2x.jpg 2x" media="(min-width: 1440px)")
              source(srcset="assets/img/img5_tb_1x.jpg 1x, assets/img/img5_tb_1x@2x.jpg 2x" media="(min-width: 768px)")
              source(srcset="assets/img/img5_mb_1x.jpg 1x, assets/img/img5_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
              img(src="assets/img/img5_dt_1x.jpg 1x, assets/img/img5_dt_@2x.jpg 2x" width="326" height="281" alt="" title="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .price 1200 
              span руб
            picture
              source(srcset="assets/img/img1_dt_1x.webp 1x, assets/img/img1_dt_@2x.webp 2x" type="image/webp" media="(min-width: 1440px)")
              source(srcset="assets/img/img1_tb_1x.webp 1x, assets/img/img1_tb_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
              source(srcset="assets/img/img1_mb_1x.webp 1x, assets/img/img1_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/img1_dt_1x.jpg 1x, assets/img/img1_dt_1x@2x.jpg 2x" media="(min-width: 1440px)")
              source(srcset="assets/img/img1_tb_1x.jpg 1x, assets/img/img1_tb_1x@2x.jpg 2x" media="(min-width: 768px)")
              source(srcset="assets/img/img1_mb_1x.jpg 1x, assets/img/img1_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
              img(src="assets/img/img1_dt_1x.jpg 1x, assets/img/img1_dt_@2x.jpg 2x" width="326" height="281" alt="" title="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .price 1200 
              span руб
            picture
              source(srcset="assets/img/img2_dt_1x.webp 1x, assets/img/img2_dt_@2x.webp 2x" type="image/webp" media="(min-width: 1440px)")
              source(srcset="assets/img/img2_tb_1x.webp 1x, assets/img/img2_tb_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
              source(srcset="assets/img/img2_mb_1x.webp 1x, assets/img/img2_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/img2_dt_1x.jpg 1x, assets/img/img2_dt_1x@2x.jpg 2x" media="(min-width: 1440px)")
              source(srcset="assets/img/img2_tb_1x.jpg 1x, assets/img/img2_tb_1x@2x.jpg 2x" media="(min-width: 768px)")
              source(srcset="assets/img/img2_mb_1x.jpg 1x, assets/img/img2_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
              img(src="assets/img/img2_dt_1x.jpg 1x, assets/img/img2_dt_@2x.jpg 2x" width="326" height="281" alt="" title="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .price 1200 
              span руб
            picture
              source(srcset="assets/img/img3_dt_1x.webp 1x, assets/img/img3_dt_@2x.webp 2x" type="image/webp" media="(min-width: 1440px)")
              source(srcset="assets/img/img3_tb_1x.webp 1x, assets/img/img3_tb_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
              source(srcset="assets/img/img3_mb_1x.webp 1x, assets/img/img3_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/img3_dt_1x.jpg 1x, assets/img/img3_dt_1x@2x.jpg 2x" media="(min-width: 1440px)")
              source(srcset="assets/img/img3_tb_1x.jpg 1x, assets/img/img3_tb_1x@2x.jpg 2x" media="(min-width: 768px)")
              source(srcset="assets/img/img3_mb_1x.jpg 1x, assets/img/img3_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
              img(src="assets/img/img3_dt_1x.jpg 1x, assets/img/img3_dt_@2x.jpg 2x" width="326" height="281" alt="" title="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .price 1200 
              span руб
            picture
              source(srcset="assets/img/img4_dt_1x.webp 1x, assets/img/img4_dt_@2x.webp 2x" type="image/webp" media="(min-width: 1440px)")
              source(srcset="assets/img/img4_tb_1x.webp 1x, assets/img/img4_tb_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
              source(srcset="assets/img/img4_mb_1x.webp 1x, assets/img/img4_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/img4_dt_1x.jpg 1x, assets/img/img4_dt_1x@2x.jpg 2x" media="(min-width: 1440px)")
              source(srcset="assets/img/img4_tb_1x.jpg 1x, assets/img/img4_tb_1x@2x.jpg 2x" media="(min-width: 768px)")
              source(srcset="assets/img/img4_mb_1x.jpg 1x, assets/img/img4_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
              img(src="assets/img/img4_dt_1x.jpg 1x, assets/img/img4_dt_@2x.jpg 2x" width="326" height="281" alt="" title="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
        .swiper-slide
          .swiper-slide__img
            .price 1200 
              span руб
            picture
              source(srcset="assets/img/img5_dt_1x.webp 1x, assets/img/img5_dt_@2x.webp 2x" type="image/webp" media="(min-width: 1440px)")
              source(srcset="assets/img/img5_tb_1x.webp 1x, assets/img/img5_tb_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
              source(srcset="assets/img/img5_mb_1x.webp 1x, assets/img/img5_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
              source(srcset="assets/img/img5_dt_1x.jpg 1x, assets/img/img5_dt_1x@2x.jpg 2x" media="(min-width: 1440px)")
              source(srcset="assets/img/img5_tb_1x.jpg 1x, assets/img/img5_tb_1x@2x.jpg 2x" media="(min-width: 768px)")
              source(srcset="assets/img/img5_mb_1x.jpg 1x, assets/img/img5_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
              img(src="assets/img/img5_dt_1x.jpg 1x, assets/img/img5_dt_@2x.jpg 2x" width="326" height="281" alt="" title="" loading="lazy")
          .swiper-slide__text
            h2 Lorem Ipsum
            p Давно выяснено, что при оценке дизайна ...
  .second__bottom
    button.btn Скачать прайс