section.fourth 
  .container 
    .fourth__inner
      .fourth__inner-left
        p Lorem Ipsum 
        h2 Lorem Ipsum
      .fourth__inner-right
        button.next.left-second
          .arrow-left
        button.prev.right-second
          .arrow-right
    .swiper.slider_2
      .swiper-wrapper
        .swiper-slide
          picture
            source(srcset="assets/img/logo1_dt_1x.webp 1x, assets/img/logo1_dt_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
            source(srcset="assets/img/logo1_mb_1x.webp 1x, assets/img/logo1_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
            source(srcset="assets/img/logo1_dt_1x.jpg 1x, assets/img/logo1_dt_1x@2x.jpg 2x" media="(min-width: 768px)")
            source(srcset="assets/img/logo1_mb_1x.jpg 1x, assets/img/logo1_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
            img(src="assets/img/logo1_dt_1x.jpg 1x, assets/img/logo1_dt_@2x.jpg 2x" width="240" height="100" alt="" title="" loading="lazy")
        .swiper-slide
          picture
            source(srcset="assets/img/logo2_dt_1x.webp 1x, assets/img/logo2_dt_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
            source(srcset="assets/img/logo2_mb_1x.webp 1x, assets/img/logo2_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
            source(srcset="assets/img/logo2_dt_1x.jpg 1x, assets/img/logo2_dt_1x@2x.jpg 2x" media="(min-width: 768px)")
            source(srcset="assets/img/logo2_mb_1x.jpg 1x, assets/img/logo2_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
            img(src="assets/img/logo2_dt_1x.jpg 1x, assets/img/logo2_dt_@2x.jpg 2x" width="240" height="100" alt="" title="" loading="lazy")
        .swiper-slide
          picture
            source(srcset="assets/img/logo3_dt_1x.webp 1x, assets/img/logo3_dt_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
            source(srcset="assets/img/logo3_mb_1x.webp 1x, assets/img/logo3_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
            source(srcset="assets/img/logo3_dt_1x.jpg 1x, assets/img/logo3_dt_1x@2x.jpg 2x" media="(min-width: 768px)")
            source(srcset="assets/img/logo3_mb_1x.jpg 1x, assets/img/logo3_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
            img(src="assets/img/logo3_dt_1x.jpg 1x, assets/img/logo3_dt_@2x.jpg 2x" width="240" height="100" alt="" title="" loading="lazy")
        .swiper-slide
          picture
            source(srcset="assets/img/logo4_dt_1x.webp 1x, assets/img/logo4_dt_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
            source(srcset="assets/img/logo4_mb_1x.webp 1x, assets/img/logo4_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
            source(srcset="assets/img/logo4_dt_1x.jpg 1x, assets/img/logo4_dt_1x@2x.jpg 2x" media="(min-width: 768px)")
            source(srcset="assets/img/logo4_mb_1x.jpg 1x, assets/img/logo4_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
            img(src="assets/img/logo4_dt_1x.jpg 1x, assets/img/logo4_dt_@2x.jpg 2x" width="240" height="100" alt="" title="" loading="lazy")
        .swiper-slide
          picture
            source(srcset="assets/img/logo5_dt_1x.webp 1x, assets/img/logo5_dt_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
            source(srcset="assets/img/logo5_mb_1x.webp 1x, assets/img/logo5_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
            source(srcset="assets/img/logo5_dt_1x.jpg 1x, assets/img/logo5_dt_1x@2x.jpg 2x" media="(min-width: 768px)")
            source(srcset="assets/img/logo5_mb_1x.jpg 1x, assets/img/logo5_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
            img(src="assets/img/logo5_dt_1x.jpg 1x, assets/img/logo5_dt_@2x.jpg 2x" width="240" height="100" alt="" title="" loading="lazy")
        .swiper-slide
          picture
            source(srcset="assets/img/logo1_dt_1x.webp 1x, assets/img/logo1_dt_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
            source(srcset="assets/img/logo1_mb_1x.webp 1x, assets/img/logo1_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
            source(srcset="assets/img/logo1_dt_1x.jpg 1x, assets/img/logo1_dt_1x@2x.jpg 2x" media="(min-width: 768px)")
            source(srcset="assets/img/logo1_mb_1x.jpg 1x, assets/img/logo1_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
            img(src="assets/img/logo1_dt_1x.jpg 1x, assets/img/logo1_dt_@2x.jpg 2x" width="240" height="100" alt="" title="" loading="lazy")
        .swiper-slide
          picture
            source(srcset="assets/img/logo2_dt_1x.webp 1x, assets/img/logo2_dt_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
            source(srcset="assets/img/logo2_mb_1x.webp 1x, assets/img/logo2_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
            source(srcset="assets/img/logo2_dt_1x.jpg 1x, assets/img/logo2_dt_1x@2x.jpg 2x" media="(min-width: 768px)")
            source(srcset="assets/img/logo2_mb_1x.jpg 1x, assets/img/logo2_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
            img(src="assets/img/logo2_dt_1x.jpg 1x, assets/img/logo2_dt_@2x.jpg 2x" width="240" height="100" alt="" title="" loading="lazy")
        .swiper-slide
          picture
            source(srcset="assets/img/logo3_dt_1x.webp 1x, assets/img/logo3_dt_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
            source(srcset="assets/img/logo3_mb_1x.webp 1x, assets/img/logo3_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
            source(srcset="assets/img/logo3_dt_1x.jpg 1x, assets/img/logo3_dt_1x@2x.jpg 2x" media="(min-width: 768px)")
            source(srcset="assets/img/logo3_mb_1x.jpg 1x, assets/img/logo3_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
            img(src="assets/img/logo3_dt_1x.jpg 1x, assets/img/logo3_dt_@2x.jpg 2x" width="240" height="100" alt="" title="" loading="lazy")
        .swiper-slide
          picture
            source(srcset="assets/img/logo4_dt_1x.webp 1x, assets/img/logo4_dt_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
            source(srcset="assets/img/logo4_mb_1x.webp 1x, assets/img/logo4_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
            source(srcset="assets/img/logo4_dt_1x.jpg 1x, assets/img/logo4_dt_1x@2x.jpg 2x" media="(min-width: 768px)")
            source(srcset="assets/img/logo4_mb_1x.jpg 1x, assets/img/logo4_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
            img(src="assets/img/logo4_dt_1x.jpg 1x, assets/img/logo4_dt_@2x.jpg 2x" width="240" height="100" alt="" title="" loading="lazy")
        .swiper-slide
          picture
            source(srcset="assets/img/logo5_dt_1x.webp 1x, assets/img/logo5_dt_@2x.webp 2x" type="image/webp" media="(min-width: 768px)")
            source(srcset="assets/img/logo5_mb_1x.webp 1x, assets/img/logo5_mb_@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
            source(srcset="assets/img/logo5_dt_1x.jpg 1x, assets/img/logo5_dt_1x@2x.jpg 2x" media="(min-width: 768px)")
            source(srcset="assets/img/logo5_mb_1x.jpg 1x, assets/img/logo5_mb_1x@2x.jpg 2x" media="(max-width: 767px)")
            img(src="assets/img/logo5_dt_1x.jpg 1x, assets/img/logo5_dt_@2x.jpg 2x" width="240" height="100" alt="" title="" loading="lazy")