footer.footer
  .container 
    .footer__inner
      div.burger.burger_footer
        span.burger__line.burger__line_top
        span.burger__line.burger__line_middle
        span.burger__line.burger__line_bottom
      include ./../../blocks/logo/logo.pug
      include ./../../blocks/nav/nav.pug
      .contacts.contacts_footer
        .phone.phone_footer
          a(href="tel:88000000000") 8 800 000 00 00
        .email
          a(href="mailto:info@stepanchenko.me") info@stepanchenko.me
.footer__bottom
  .container 
    .footer__bottom__inner 
      .copyright © 2020 All Rights Reserved
      include ./../../blocks/socials/socials.pug