footer.footer
  .container 
    .footer__inner
      div.burger.burger--footer
        span.burger__line.burger__line--footer.burger__line--top
        span.burger__line.burger__line--footer.burger__line--middle
        span.burger__line.burger__line--footer.burger__line--bottom
      include ./../../blocks/logo/logo.pug
      include ./../../blocks/nav/nav.pug
      .contacts.contacts--footer
        .phone.phone--footer
          a(href="tel:88000000000") 8 800 000 00 00
        .email
          a(href="mailto:info@stepanchenko.me") info@stepanchenko.me
.footer-bottom
  .container 
    .footer-bottom__inner 
      .copyright © 2020 All Rights Reserved
      include ./../../blocks/socials/socials.pug