ul.socials 
  li 
    a(href="#!" target="_blank" rel="external")
      svg(aria-hidden="true")
        use(xlink:href="assets/img/icons/sprite.svg#vk")
  li 
    a(href="#!" target="_blank" rel="external")
      svg(aria-hidden="true")
        use(xlink:href="assets/img/icons/sprite.svg#facebook")
  li 
    a(href="#!" target="_blank" rel="external")
      svg(aria-hidden="true")
        use(xlink:href="assets/img/icons/sprite.svg#twitter")