ul.socials 
  li.socials__item 
    a.socials__item__link(href="#!" target="_blank" rel="external")
      img(src="assets/img/icons/vk.svg" width="40" height="40" alt="" title="" loading="lazy")
  li.socials__item  
    a.socials__item__link(href="#!" target="_blank" rel="external")
      img(src="assets/img/icons/facebook.svg" width="40" height="40" alt="" title="" loading="lazy")
  li.socials__item  
    a.socials__item__link(href="#!" target="_blank" rel="external")
      img(src="assets/img/icons/twitter.svg" width="40" height="40" alt="" title="" loading="lazy")