.nav-wrap {
  position: absolute;
  z-index: 7000;
  top: 7.7rem;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  padding: 3rem 0 2rem 0;
  overflow-Y: auto;
  overflow-X: hidden;
  background: var(--black_2);
  will-change: left;
  transition: left 0.3s ease-in-out;

  @media (min-width: 1440px) {
    position: static;
    width: 100%;
    height: auto;
    display: flex;
    padding: 0;
    margin-left: -0.5rem;
    overflow-Y: unset;
    overflow-X: unset;
    background: none;
  }

  &--open {
    left: 0;
  }
}

.nav {
  // display: none;
  position: relative;
  top: 6rem;

  @media (min-width: 1440px) {
    position: static;
    top: 0;
    display: flex;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1440px) {
      flex-direction: row;
    }

    li {

      &:not(:last-child) {
        margin-bottom: 2rem;

        @media (min-width: 1440px) {
          margin: 0 4rem 0 0;
        }
      }

      a {
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: var(--white_3);

        @media (min-width: 1440px) {
          color: var(--gray_2);
        }

        &.active {
          color: var(--white_3);

          @media (min-width: 1440px) {
            color: var(--black_1);
          }
        }
      }
    }
  }
}