.nav-wrap
  nav.nav
    ul(role="menu")
      li(role="menuitem")
        a(href="#about").active О компании
      li(role="menuitem")
        a(href="#services") Услуги
      li(role="menuitem")
        a(href="#vacancies") Вакансии
      li(role="menuitem")
        a(href="#contacts") Контакты
  .contacts
    .phone.phone--mobile
      a(href="tel:88000000000") 8 800 000 00 00
    .email
      a(href="mailto:info@stepanchenko.me") info@stepanchenko.me