section.third 
  .container 
    .third__inner
      p Lorem Ipsum 
      h2 Lorem Ipsum
      picture
        ource(srcset="assets/img/bg_mb.webp 1x, assets/img/bg_mb@2x.webp 2x" type="image/webp" media="(max-width: 767px)")
        source(srcset="assets/img/bg_mb.jpg 1x, assets/img/bg_mb@2x.jpg 2x" media="(max-width: 767px)")
        source(srcset="assets/img/bg_tb.webp 1x, assets/img/bg_tb@2x.webp 2x" type="image/webp" media="(max-width: 1439px)")
        source(srcset="assets/img/bg_tb.jpg 1x, assets/img/bg_tb@2x.jpg 2x" media="(max-width: 1439px)")
        source(srcset="assets/img/bg_dt.webp 1x, assets/img/bg_dt@2x.webp 2x" type="image/webp")
        img(src="assets/img/bg_dt.jpg" srcset="assets/img/bg_dt@2x.jpg 2x" title="" alt="" loading="lazy")
  .container 
    .third__text
      p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот 
        | обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не 
        | получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
      p Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым 
        | словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст 
        | Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
