extends ./../layouts/main

block variables
  - let pageTitle = 'Stepanchenko';

block content
  include ./../components/sections/header/header.pug
  include ./../components/sections/first/first.pug
  include ./../components/sections/second/second.pug
  include ./../components/sections/third/third.pug
  include ./../components/sections/fourth/fourth.pug
  include ./../components/sections/footer/footer.pug