.btn {
  // padding: 0.9rem 5.411rem;
  // font-size: 1.4rem;
  // line-height: 1.8rem;
  // text-align: center;
  // color: var(--black_1);
  outline: none;
  border: none;
  transition: all 0.5s linear;
  // background: linear-gradient(180deg, #F7F7F7 0%, #FFFFFF 100%);
  // border-radius: 1.8rem;

  &:disabled {
    color: var(--gray_1);
  }
}

  .next,
  .prev {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white_2);
    box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    border: 0 solid rgba(0, 0, 0, 0.5);

    @media (min-width: 768px) {
      width: 3.7rem;
      height: 3.7rem;
    }
  }

  .left-first,
  .left-second {
    margin-right: 1.5rem;

    @media (min-width: 768px) {
      margin-right: 4rem;
    }
  }

  .right-first,
  .right-second {
    background: url("../img/icons/arrow-right.svg") no-repeat;
    background-size: 70% 70%;
    background-position: center center;
  }

  .left-first,
  .left-second {
    background: url("../img/icons/arrow-left.svg") no-repeat;
    background-size: 70% 70%;
    background-position: center center;
  }

.next.left-second.swiper-button-disabled,
.next.left-first.swiper-button-disabled {
  background: url("../img/icons/arrow-left-disabled.svg") no-repeat;
  background-size: 70% 70%;
  background-position: center center;
}

.prev.right-second.swiper-button-disabled,
.prev.right-first.swiper-button-disabled {
  background: url("../img/icons/arrow-right-disabled.svg") no-repeat;
  background-size: 70% 70%;
  background-position: center center;
}