:root {

/* COLORS */
--purple_1: linear-gradient(180deg, #41297D 0%, #472D88 100%);
--purple_2: #352266;
--purple_3: #6B43CC;
--purple_4: #472D88;
--white_1: #F8F8F8;
--white_2: linear-gradient(180deg, #F7F7F7 0%, #FFFFFF 100%);
--white_3: #FFF;
--white_4: #F5F5F5;
--black_1: #282828;
--black_2: #000;
--gray_1: #E6E6E6;
--gray_2: #C0C0C0;
--gray_3: #DEDEDE;
}